%aside.aside__banner
  .aside__banner__contents
    %h2.text__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.text__subtitle
      今すぐ無料ダウンロード！
    .app__icon
      %a{href:"#"}
        %img.appleApp__icon{src:"/assets/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg"}
      %a{href:"#"}
        %img.googleApp__icon{src:"/assets/google-play-badge.png"} 