.main__lists__navigates
  %nav
    %ul{class:"main__lists__navigates--mypage"}
      %li
        %a{href:"/"} 
          マイページ
          %i
      %li
        %a{href:"#"} 
          お知らせ
          %i
      %li
        %a{href:"#"} 
          やることリスト
          %i
      %li
        %a{href:"#"} 
          いいね一覧
          %i
      %li
        %a{href:"#"} 
          出品する
          %i
      %li
        %a{href:"#"} 
          下書き一覧
          %i
      %li
        %a{href:"#"} 
          出品した商品-出品中
          %i
      %li
        %a{href:"#"} 
          出品した商品-取引中
          %i
      %li
        %a{href:"#"} 
          出品した商品-売却済み
          %i
      %li
        %a{href:"#"} 
          購入した商品-取引中
          %i
      %li
        %a{href:"#"} 
          購入した商品-過去の取引
          %i
      %li
        %a{href:"#"} 
          ニュース一覧
          %i
      %li
        %a{href:"#"} 
          評価一覧
          %i
      %li
        %a{href:"#"} 
          ガイド
          %i
      %li
        %a{href:"#"} 
          お問い合わせ
          %i
    %h3
      フリマペイ
    %ul{class:"main__lists__navigates--furimaPay"}
      %li
        %a{href:"#"} 
          売上・振込申請
          %i
      %li
        %a{href:"#"} 
          ポイント
          %i
    %h3
      設定
    %ul{class:"main__lists__navigates--setting"}
      %li
        %a{href:"#"} 
          プロフィール
          %i
      %li
        %a{href:"#"} 
          発注元・お届け先住所変更
          %i
      %li
        %a{href:"/creditcard/index"} 
          支払い方法
          %i
      %li
        %a{href:"#"} 
          メール/パスワード
          %i
      %li
        %a{href:"#"} 
          本人情報
          %i
      %li
        %a{href:"#"} 
          電話番号確認
          %i
      %li
        %a{href:"/logout/index"} 
          ログアウト
          %i