.header
  = render partial: 'messages/header'

%html
  %body
    %nav.root
      %ul
        %li
          %a{:href => "/"} FURIMA
        %li
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} 大カテゴリー
        %li
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} 中カテゴリー
        %li
          %i.fa.fa-angle-right
        %li
          %a{:href => "#"} 小カテゴリー
        %li
          %i.fa.fa-angle-right
        %li
          %p 商品名
    .main
      .content
        .item
          .item__box
            %h2.item__box--name 商品名
            .item__box--photos
              %ul
                %li
                  %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
                  %ul
                    %li
                      %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :width => "75"}/
                    %li
                      %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", :width => "75"}/
                    %li
                      %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", :width => "75"}/
            .item__box--price
              %span
                ¥30000
              .item__box--price--detail
                %span
                  (税込)
                %span
                  送料込み
            .item__box--text 
              親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
            .item__box--table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td hoge
                  %tr
                    %th カテゴリー
                    %td
                      %a{:href => "#"} 大カテゴリー
                      %br/
                      %a{:href => "#"} 中カテゴリー
                      %br/
                      %a{:href => "#"} 小カテゴリー
                  %tr
                    %th ブランド
                    %td
                  %tr
                    %th 商品のサイズ
                    %td
                  %tr
                    %th 商品の状態
                    %td 未使用に近い
                  %tr
                    %th 配送料の負担
                    %td 送料込み（出品者負担）
                  %tr
                    %th 発送元の地域
                    %td
                      %a{:href => "#"} 岩手県
                  %tr
                    %th 発送日の目安
                    %td 4-7日で発送
            .item__box--option
              %ul
                .like
                  %i.fa.fa-star
                  お気に入り 0
              %ul.report
                %li.report-btn
                  %a{:href => "#"}
                    %i.fa.fa-flag
                    不適切な商品の通報
          .item__comment
            %textarea#comment-box{:name => "comment[body]", :required => "required"}
            .item__comment--notice-message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
            %button.item__comment--btn{:name => "button", :type => "submit"}
              %i.fa.fa-comment
              コメントする
          %ul.links
            %li.prev-item
              %a{:href => "#"}
                %i.fa.fa-angle-left
                %span
                前の商品
            %li.next-item
              %a{:href => "#"}
                %span 後ろの商品
                %i.fa.fa-angle-right
          .relation-item
            %a{:href => "#"} ベビー・キッズをもっと見る
            .productLists

.footer
  = render partial: 'messages/footer'

.exhibition_icon
  = render partial: 'messages/exhibition_icon'