.sign_up_main
  %header.sign_up_header
    %h1
      =image_tag  "logo.png" , width: "200px" , height: "50px"
    %nav.prosess
      %li.info
        会員情報
        .process_status
          .process_bar
      %li.fin
        完了
        .process_status
          
  %main.sign_up_continer
    .sign_up_continer__registration
      .sign_up_continer__registration__header
        %h.sign_up_continer__registration__header__info
          会員情報入力
      .sign_up_continer__registration__main
        .sign_up_continer__registration__main__continer
          .input
            %label.input__label ニックネーム
            %span.input__require 必須
            %input{type: "text", class: "input__default", placeholder: "例）フリマ太郎"}
          .input
            %label.input__label メールアドレス
            %span.input__require 必須
            %input{type: "text", class: "input__default", placeholder: "PC・携帯どちらでも可"}
          .input.input-password
            %label.input__label パスワード 
            %span.input__require 必須
            %input{type: "password", class: "input__default", id: "js-password" , placeholder: "7文字以上の半角英数字"}
            %p.form-info ※ 英字と数字の両方を含めて設定して下さい
            .input-password-checkbox
              .input-password-checkbox__default
                %input{type: "checkbox", id:"password-reveal", class: "password-reveal"}
                %lavel.password-display パスワードを表示する
          .input
            %h2.text__info 
              本人確認
            %p.text__info 
              安心・安全にご利用いただくために、
              お客さまの本人情報の登録にご協力ください。
              他のお客さまに公開されることはありません。
          .input
            %label.input__label お名前(全角)
            %span.input__require 必須
            %br
            %input{type: "text", class: "input__default half", placeholder: ""}
            %input{type: "text", class: "input__default half", placeholder: ""}
          .input
            %label.input__label お名前カナ(全角)
            %span.input__require 必須
            %br
            %input{type: "text", class: "input__default half", placeholder: ""}
            %input{type: "text", class: "input__default half", placeholder: ""}
          .input
            %label.input__label 生年月日
            %span.input__require 必須
            %br
            %select{name: "year", class: "select-default"}
            %span 年
            %select{name: "month", class: "select-default"}
            %span 月
            %select{name: "day", class: "select-default"}
            %span 日
            %h3.text__info
              ※ 本人情報は正しく入力してください。
              会員登録後、修正するにはお時間を頂く場合があります。
          .input
            %input{type: "submit" , class: "btn_default" , value: "次へ進む"}
          .from
            %p.form_tag
              =link_to href: "" , target: "_blank" , rel: "noopner" do
                本人情報の登録について＞
              %i.icon-arrow-right
            %p.privacy
              This site is protected by reCAPTCHA and the Google
              =link_to href: "" , target: "_blank" , rel: "noopner" do
                Privacy Policy 
              and 
              =link_to href: "" , target: "_blank" , rel: "noopner" do
                Terms of Service apply.
            
  %footer.sign_up_footer
    = render "mypage/footer"