.display__list
  - @products.each do |product|
    = link_to product_path(product.id) do 
      .display__pic
        = image_tag "pict-reason-01.jpg" ,class:"imgpic"
        .display__body
          %h3.display__name 
            = product.name
          .display__details
            %ul.display__content
              %li 
              %li.fa.fa-star.likeIcon 0
            %p 
              = product.price
              円(税込)