.display__list
  = link_to item_page_index_path do
    .display__pic
      = image_tag "pict-reason-01.jpg" ,class:"imgpic"
      .display__body
        %h3.display__name product1
        .display__details
          %ul.display__content
            %li 1000円
            %li.fa.fa-star.likeIcon 0
          %p (税込)