.login_main {
  height: 100%;
  width: 100%;
  background-color: $alice-blue;
}


.login_header {
  height: 130px;
  display: flex;
  justify-content: center;
  h1{
    margin-top: 50px;
  }
}

.inputbtn__default {
  background-color:$alice-blue;;
  padding: 30px 40px;
  position: absolute;
  left: 248px;
  top: 5px;
  color: $skyblue;
  border: 1px solid $skyblue;
  border-radius: 50px;
}

.login_mid {
  width: 100%;
  display: flex;
  justify-content: center;
  .login_continer{
    &__login_panel{
      background-color: $white;
      height: 700px;
      width: 450px;
      
      
      &--no_account{
        height: 140px;
        width: 100%;
        padding: 30px 64px;
        text-align: center;
        border-bottom: solid 1px $border-color;
        p{
          font-size: 14px;
        }
        .btn_default{
          display: block;
          margin: 8px 13px;
          border-radius: 4px;
          border: 1px solid $blue;
          background: $blue;
          color: $white;
          line-height: 40px;
          width: 300px;
          cursor: pointer;
        }
      }
      &--form{
        height: 560px;
        .btn_default{
          height: 40px;
          width: 300px;
          border-radius: 3px;
        }
        .btn_sns{
          margin-bottom: 20px;
          &_google{
            color: $black3;
            background-color: $white;
            border: 1px solid $black3
          }
          &_facebook{
            color: $white;
            background: $facebook-blue;
          }
          &_app{
            color: $white;
            background: $black3;
          }
        }
        .btn_sns:first-of-type{
          margin-top: 20px;
        }
        .icon{
          float: left;
          margin: 2px 0 0 10px;
          font-size: 20px;
          &_facebook{
            color: $white;
          }
        }
        .input{
          max-width: 300px;
          height: 560px;
          margin: 0 auto;
          &__default{
            width: 100%;
            margin: 20px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid $input-border-color;
            background: $white;
            line-height: 1.5;
            font-size: 16px;
          }
          .btn_login{
            margin: 60px 0 30px  0;
            background-color: $skyblue;
            color: $white;
          }
          .pass_info{
            font-size:14px;
            color:$blue;
          }

        }

      }
    }
    
  }
}


.login_footer{
  padding: 20px 0;
  .document{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    li{
      font-size: 12px;
      margin: 16px 0px 0px 16px;
    }
  }
  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 40.55px;
      width: 140px;
      margin-bottom: 8px;
    }
  }
  &__furima{
    text-align: center;
    font-size: 12px;
  }
}