/* 共通のクラス */

* {
  box-sizing: border-box;
}

html {
  color: #000;
  background: #FFF;
}

img {
  width: 100%;
  vertical-align: bottom;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

/* メインコンテンツの枠 */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
/* 詳細ページまでのルート表示 (ヘッダーとメインの間)*/
  .root {
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
    padding: 0 60px;
    ul {
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
      &::after {
        display: block;
        content: "";
        clear: both;
      }
      li {
        padding: 0 10px 0 0;
        float: left;
        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
  /* 商品の情報の大枠 */
  .main {
    background: #f8f8f8;
    .content {
      padding: 40px;
      margin: 0 auto;
      .item {
        width: 700px;
        margin: 0 auto;
        &__box {
          background-color: #fff;
          padding: 24px 40px 40px;
          &--name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &--photos {
            margin: 16px 0 0;
            ul {
              display: flex;
              position: relative;
              li {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                img {
                  object-fit: cover;
                  height: 346px;
                }
                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                    img {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }
          &--price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            > span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &--detail {
              font-size: 16px;
            }
          }
          &--text {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          &--table {
            margin-bottom: 20px;
            > table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              > tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                > tr {
                  > th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  > td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          &--option {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
              .like {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }
            .report{
              margin: 10px 0 0;
              display: flex;
              .report-btn {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }
        &__comment {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          #comment-box {
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          &--notice-message {
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
          }
          &--btn {
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
        ul {
          .prev-item {
            float: left;
            a {
              text-decoration: none;
              color: #3CCACE;
            }
          }
          .next-item {
            float: right;
            a {
              text-decoration: none;
              color: #3CCACE;
            }
          }
          &::after{
            display: block;
            content: "";
            clear: both;
          }
        }
        .relation-item {
          a {
            display: block;
            margin: 24px 0 8px;
            color: #3CCACE;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
        
          }
        }
      }
    }
  }
}
