.entire {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  margin: 0 auto;
  border-style: solid;
  border-width: 0;
  padding: 0 0 220px;
}

* {
  margin: 0;
  padding: 0;
  border-style: solid;
  font-size: inherit;
  line-height: inherit;
  border-width: 0;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}

::before, ::after {
  border-style: solid;
  border-width: 0;
}

ul {
  list-style: none;
}

h3 {
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.purchase-header {
  width: 100%;
  height: 128px;
  text-align: center;

  h1 {
    margin: 40px 0 0;
    display: inline-block;
  }

  img {
    width: 185px;
    height: 49px;
  }
}

.purchase-main {
  display: block;

  .purchased-item {
    width: 700px;
    margin: 0 auto;
    background: $white;
    &-head {
      font-size: 22px;
      padding: 32px;
      text-align: center;
      border-top: 1px solid #f5f5f5;
    }
    .purchased-buy-item {
      text-align: center;
      padding: 32px 16px;
      border-style: solid;
      border-width: 0;
      .buy-content-inner {
        max-width: 343px;
        margin: 0 auto;
        .buy-item-box {
          display: flex;
          .buy-item-image {
            width: 80px;
            height: 80px;
            min-width: 80px;
            display: flex;
            justify-content: center;
          }
          .item-detail {
            margin-left: 16px;
            .item-name {
              font-size: 14px;
              margin: 0;
              padding: 0 0 8px;
              line-height: 1.5;
              text-align: left;
            }
          } 
        }
      }       
    }
    .buy-content-buy-item {
      &:last-of-type {
        padding-bottom: 48px;
      }
      padding: 32px 16px;
      text-align: center;
      .buy-content-inner {
        max-width: 343px;
        margin: 0 auto;
        .buy-price-box {
          &:first-child {
            margin: 0;
          }
          border-collapse: collapse;
          display: table;
          width: 100%;
          .buy-price-box-you-pay {
            font-size: 30px;
            .buy-price-box-you-pay-label {
              &:first-child {
                text-align: left;
              }
              font-size: 18px;
              display: table-cell;
              width: 171px;
            }
            .buy-price-box-cell {
              display: table-cell;
              padding: 0;
              text-align: right;
              width: 172px;
            }
          }
        }
        .buy-accorbion-buy-not-have-point {
          color: $darkgray;
          margin: 24px 0 32px;
          text-align: left;
        }
        .buy-content-buy-user-info {
          padding: 32px 0;
          .buy-content-inner {
            max-width: 343px;
            margin: 0 auto;
            a{
              text-decoration:none; 
            }
            .i[class^='icon-'], i[class*='icon-'] {
              display: inline-block;
              font-family: 'icon-font';
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale 
            }
            .icon-plus-circle:before{
              content: '\e023'
            }
            .buy-user-info-text {
                color: #0000FF	;
                text-align: left;
                margin: 8px 0 0;
                font-size: 14px;
            }
          }
        }
        .buy-content-buy-user-info:last-of-type {
          padding-bottom: 0;
          .has-info-text{
            padding-bottom: 24px;
            line-height: 1.5;
          }
          .btn-default {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-align: center;
            border: 1px solid $darkgray;
            background: $darkgray;
            color: $white;
          
            btn-red bold {
              border: 1px solid $darkgray;
              background: $darkgray;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.single-footer {
  display: block;
  width: 100%;
  height: 220px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  nav {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    .clearfix {
      ul {
        font-size: 0;
      }
      li {
        &:first-child {
          margin: 0;
        }
        margin: 0;
        font-size: 12px;
        display: inline-block;
        margin: 0 0 0 16px;
      }
      a {
        color: $black;
        display: block;
        text-decoration: none;
      }
    }
  }
  .single-footer__logo {
    width: 150px;
    height: 39px;
    margin: 40px auto 0;
    color: $black;
    display: block;
    text-decoration: none;
  }
  p {
    margin: 10px 0 0;
    small {
      font-size: 13px;
    }
  }
}
