.sign_up_main {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

.sign_up_continer_if {
  font-size: 15px;
}
.sign_up_header {
  height: 130px;
  display: flex;
  justify-content: center;
  nav{
    padding: 40px 0 0 44px;
    border: 0;
    .info{
      
      margin-left: 50px;
      font-weight: 600;
      color: #ea352d;
      .process_status{
        height: 12px;
        width: 12px;
        margin-top: 12px;
        margin-left: 26px;
        border-radius: 50%;
        background-color: #ea352d;
        z-index: 3;
        .process_bar{
          position: absolute;
          height: 2px;
          width: 122px;
          background-color: #ccc;
          margin-top: 5px;
          margin-left: 12px;
        }
      }
    }
    .fin{
      margin-left: 75px;
      .process_status{
        height: 12px;
        width: 12px;
        margin-top: 12px;
        margin-left: 16px;
        border-radius: 50%;
        background-color: #ccc;
      }
    }
    li{
      list-style: none;
      display: inline-block;
    }
  }
  h1{
    margin-top: 50px;
  }
  
}

.sign_up_continer {
  height: 2300px;
  display: flex;
  justify-content: center;
  &__registration {
    height: 2300px;
    width: 700px;
    background-color: #fff;
    &__header {
      height: 100px;
      border-bottom: solid 1px #f5f5f5;
      width: 700px;
      position: relative;
      &__info {
        font-weight: bold;
        position: absolute;
        font-size: 30px;
        left: 260px;
        top: 27px;
      }
    }
    &__main {
      height: calc(1300px - 100px);
      padding: 40px 40px 64px;
      &__continer {
        height: 100%;
        .input{
          max-width: 343px;
          margin: 0 auto;
          &__label {
            font-weight: 600;
          }
          &__require {
            background-color: red;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
          }
          &__any{
            border: 1px solid;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            font-size: 12px;
          }
          &__default{
            width: 100%;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          
          .text_info{
            font-size: 16px;
          }
          .select-default,#_birthday_1i,#_birthday_2i,#_birthday_3i{
            padding: 0 10px;
            margin: 8px 0;
            width: calc(30% - 16px);
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
          }
          .input__default__half {
            width: calc(50% - 6px);
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .select-birth {
            width: 76px;
          }
          h3 {
            font-size: 12px;
          }
          .btn_default{
            height: 48px;
            width: 80%;
            background-color: #3ccace;;
            font-size: 15px;
            color: #ffffff;
            border-radius: 4px;
            margin-left: 40px;
            border: 1px solid #fff;
          }
        }
        .from{
          max-width: 343px;
          margin: 0 auto;
          .form_tag{
            margin: 32px 0 0;
            a{
              color: #0099e8;
              text-decoration: none;
              padding-left: 140px;
            }
          }
        }
        .privacy{
          margin: 32px 0 0;
          background-color: #f5f5f5;
          font-size: 14px;
            a{
              color: #0099e8;
              text-decoration: none;
            }
        }
      }
    }
  }
}

.sign_up_continer__registration__main p{
  margin: 8px 0 0;
}

.input:not(:first-of-type){
  margin-top: 32px;
}

.sign_up_footer{
  height: 220px;
}

#user_birthday_1i, #user_birthday_2i, #user_birthday_3i {
  width: calc(30% - 6px);
  height: 50px;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}