%footer.login_footer
  %ul.document
    %li.privacy-policy
      プライバシーポリシー
    %li.frima-terms
      フリマ利用規約
    %li.law
      特定商取引に関する表記
  .login_footer__logo
    = link_to root_path,class:"login_footer_logo" do
      = image_tag 'logo.png', class: 'login_footer_logo__img'
  %p.login_footer__furima
    © FURIMA