.login_main
  %header.login_header
    %h1
      =image_tag  "logo.png" , width: "200px" , height: "50px"
  %main.login_mid
    .login_continer
      .login_continer__login_panel
        .login_continer__login_panel--no_account
          %p
            アカウントをお持ちでない方はこちら
          %input{type: "submit" , class: "btn_default" , value: "新規会員登録"}
            
        .login_continer__login_panel--form
          .input
            %input{type: "text", class: "input__default", placeholder: "メールアドレス"}
            %input{type: "password", class: "input__default", placeholder: "パスワード"}
            %input{type: "submit" , class: "btn_default" , value: "ログイン"}
              
  %footer.login_footer
    = render "mypages/footer"