* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
}
html {
  background-color: aliceblue;
  text-shadow: none;
}

.header {
  padding: 0 60px;
  background: $white;
  z-index: 1001;

  &__inner {
    margin: 0 auto;
    padding: 8px 0 10px;
    &--top {
      display: flex;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-box-pack: justify;
      align-items: center;
      position: relative;
      h1 {
        padding-bottom: 10px;
        margin-right: 30px;
        a {
          display: block;
          width: 140px;
          img {
            width: 100%;
            display: block;
            cursor: pointer;
          }
        }
      }

      form {
        position: relative;
        width: 100%;
        -webkit-box-flex: 1;
        flex: 1;
        margin-left: auto;

        input {
          width: 100%;
          height: 40px;
          border: 1px solid;
        }
        .search-btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          justify-content: center;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          cursor: pointer;
          background-color: $skyblue;
          z-index: 3;
          padding: 8px;
        }
      }
    }

    &--under {
      margin: 8px 0 0;
      .nav__lists {
        height: 100%;
        position: relative;
        display: flex;
        &--left {
          display: flex;
          ul {
            display: flex;
            position: relative;
            li {
              h2 {
                a {
                  display: flex;
                  text-decoration: none;
                  color: black;
                  img {
                    position: relative;
                    display: flex;
                    overflow: hidden;
                    line-height: 1;
                    text-transform: none;
                    vertical-align: bottom;
                  }
                  span {
                    font-size: 15px;
                    margin-right: 10px;
                    &:hover {
                      color: $orange;
                    }
                  }
                }
              }
            }
          }
        }
        &--right {
          float: right;
          margin-left: auto;
          ul {
            display: flex;
            li {
              padding-left: 20px;
              a {
                text-decoration: none;
                color: black;
                display: flex;
                text-align: center;

                span {
                  padding-left: 10px;
                  display: block;
                  &:hover {
                    color: $orange;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
