.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:rgb(245,245,245);
  font-family:YuGothic,'Yu Gothic',sans-serif;
  .product_header{
    width: 100%;
    height: 126px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: inherit;
    &__logo{
      color: inherit;
      text-decoration: none;
      &-img{
        height: 55.55px;
        width: 180px;
      }
    }
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    form{
      background-color: $white;
      max-width: 700px;

      %main_title{
        color: rgb(136,136,136);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
        margin-bottom: 24px;
      }
      .main_display__label{
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
      }
      .main_display_require{
        color: $white;
        background-color: red;
        font-size: 12px;
        font-weight: 600;
        padding: 0 4px;
        margin-left: 8px;
        border-radius: 3px;
        display: flex;
        align-items: center;
      }
      .main_display__title{
        height: 19px;
        display: flex;

        %label-size{
          font-size: 12px;
          font-weight: 600;
          padding: 0 4px;
          margin-left: 8px;
          border-radius: 3px;
          display: flex;
          align-items: center;
        }
        .title{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        .required{
          @extend %label-size;
          color: $white;
          background-color: red; 
        }
      }

      select{
        background-color: $white;
        border: solid 1px $input-border-color;
        border-radius: 4px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        height: 48px;
        width: 100%;
        line-height: 1;
        padding: 0 56px 0 16px;
        margin-top: 16px;
      }

      input{
        border: 1px solid $input-border-color;
        border-radius: 4px;
        height: 48px;
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        margin-top: 16px;
      }

      .error-messages{
        color: #ff0211;
        font-size: 14px;
        line-height: 1.4em;
        margin: 16px 0;
        box-sizing: border-box;
      }

      .main_image{
        padding: 40px;
        &-text{
          margin-top: 16px;
          font-size: 14px;
          line-height: 1.4em;
        }
        &-input{
          ul{
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            .preview-image{
              box-sizing: border-box;
              height: 150px;
              width: 20%;
              padding: 0px 4px;
              margin-top: 8px;
              border: solid 1px rgb(204, 204, 204);
              &__figure{
                margin:0 auto;
                height: 118px;
                background-color:white;
                img{
                  box-sizing: border-box;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              &__button{
                border-top-width: 1px;
                border-top-color: rgb(204, 204, 204);
                border-top-style: solid;
                justify-content: space-around;
                display: flex;
                align-items: center;
                height: 32px;
                color: rgb(0, 149, 238);
              }
            }
            .input-label{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              flex-wrap: wrap;
              height: 150px;
              width: 600px;
              background-color:rgb(175, 175, 175);
              margin-top: 8px;
              border-width: 1px;
              border-style: dashed;
              border-color: rgb(121, 121, 121);
              cursor: pointer;
              .input-function{
                display: none;
              }
              .logo_camera{
                height: 20px;
                width: 18px;
                margin-bottom: 8px;
              }
              .input-text{
                text-align: center;
                font-size: 12px;
                line-height: 1.4em;
                width: 100%;
                color: whitesmoke;
              }
            }
          }
        }
      }

      .main_text{
        padding: 40px;
        &__input__explanation{
          margin-top: 32px;
          &-form{
            .input-sentences{
              margin-top: 16px;
              border: 1px solid $input-border-color;
              border-radius: 4px;
              color: #222;
              font-size: 16px;
              width: 100%;
              padding:13px 16px;
              box-sizing: border-box;
              display: block;
            }
          }
          &-count{
            margin-top: 16px;
            text-align: right;
            color: #888;
            font-size: 12px;
            line-height: 1.4em;
          }
        }
      }

      .main_details{
        padding: 40px;
        .details{
          @extend %main_title
        }
        &__category{
          margin-top: 32px;
        }
        &__size{
          margin-top: 32px;
        }
        
        &__brand{
          margin-top: 32px;
          .optional{
            @extend %label-size;
            background-color: #bfbfbf;
          }
        }
        &__status{
          margin-top: 32px;
        }
      }

      .main_delivery{
        padding: 40px;
        .delivery{
          @extend %main_title;
        }
        &__area{
          margin-top: 32px;
        }
        &__days{
          margin-top: 32px;
        }
      }

      .main_price{
        padding: 40px 40px 0px;
        &__title{
          display: flex;
          @extend %main_title;
          img{
            height: 16px;
            width: 16px;
            margin-left: 4px;
          }
        }
        &__decide{
          &-input{
            display: flex;
            align-items: center;
            padding-bottom: 12px;
            .main_display__title{
              margin-right: auto;
            }
            .unit{
              margin-right: 8px;
              font-size: 14px;
            }
            &-form{
              display: inline-block;
              position: relative;
              .price{
                text-align: right;
                width: 285px;
              }
            }
          }
          #error-price{
            box-sizing: border-box;
            text-align: right;
          }

          &-fee{
            display: flex;
            padding: 12px 0px;
            font-size: 14px;
            .fee-label{
              margin-right: auto;
            }
          }

          &-profit{
            display: flex;
            padding: 12px 0px;
            font-size: 14px;
            margin-bottom: 40px;
            .profit-label{
              margin-right: auto;
            }
          }
        }
      }
      .main_send{
        width: 360px;
        margin: 0px auto 32px;
        text-align: center;
        
        .exhibition{
          font-size: 17px;
          min-height: 48px;
          padding: 0 24px;
          width: 100%;
          border-radius: 4px;
          border: 1px solid transparent;
          font-weight: 600;
          cursor: pointer;
          background-color:$skyblue;
          color: $white;
          margin-bottom: 10px;
        }
        .return{
          color: $blue;
          text-decoration: none;
        }
      }
      .main_warn{
        margin: 0px 40px 64px;
        &__note{
          font-size: 12px;
          line-height: 1.4em;
        }
      }
    }
  }
  .product_footer{
    padding: 40px 0px 41px;
    .document{
      display: flex;
      margin-bottom: 40px;
      align-items: center;
      justify-content: center;
      li{
        font-size: 12px;
        margin: 16px 0px 0px 16px;
      }
    }
    &__logo{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        height: 40.55px;
        width: 140px;
        margin-bottom: 8px;
      }
    }
    &__furima{
      text-align: center;
      font-size: 12px;
    }
  }
}
