$darkgray: #888888;
$black: #333;
$red: #ea352d;
$gray: #eeeeeeee;
$white: #ffffff;
$skyblue: #3ccace;
$border-color: #f5f5f5;
$input-border-color: #cccccc;
$blue: #0099eb;
$dark-brown: #272722;
$gray-white :#f8f8f8;
$dark-gray: #333;
$black: rgba(0,0,0,0.16);
$dark-white: #f8f8f8;
$table-gray: #dedede;
$orange: #ffb340;
$light-gray: #fafafa;
