
 .top
      .top__sentence
        %h2.top__title 人生を変えるフリマアプリ
        %p.top__sentence
          FURIMAはだれでもかんたんに出品・購入できる
          %br>/
          フリマアプリです
        .top__app
          = link_to image_tag("material/app-store-black.png", id: "abtn") , "/"
          = link_to image_tag("material/google-play-badge.png", id: "gbtn") , "/"